html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: grey;
}
header{
    justify-content: center;
    position: fixed;
    align-items: baseline;
    flex-direction: row;
    background-color: orangered;
    color: whitesmoke;
    font-weight: 600;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: large;
    display: flex;
    a{
    color: whitesmoke;
    text-decoration: none;
    margin: 0 5px;
    padding: 10px 3px;
        }

ul li{
    list-style: none;
    display: inline;
    margin: 0 10px;
    position: relative;
    justify-self: flex-end;
    align-content: center;
    text-align: center;
}
ul li a:hover{
    color: black;
    background-color: whitesmoke;
}
}
.card{
    p, img{
        width: 200px;
    }
    button{
        background-color: orangered;
        color: white;
    }
}
footer{
    position: fixed;
    background-color: black;
    color: whitesmoke;
    font-weight: 200;
    width: 100%;
    height: fit-content;
    bottom: 0;
    left: 0;
    gap: 10px;
    z-index: 100;
    font-size: x-small;
    display: flex;
    align-items: center;
    justify-content: center;
}